# Node
node_modules/

# Java
target/
*.class
*.jar

# Env / secrets
.env
*.pem
*.key

# Fabric generated artifacts
blockchain/fabric/fabric-samples/
fingerprint-service/wallet/

# Docker volumes/data
mongo-data/
minio-data/
prometheus-data/
grafana-data/

# Logs
*.log

# Test artifacts
test.txt

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db